@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header{
  display: flex;
  padding: 4px;
}

.left-links{
  margin-right: auto;
  display: flex;
  gap: 12px;
}

.right-links{
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.input{
  margin-bottom: 5px;
}

.buttons{
  display: flex;
  gap: 8px;

  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a{
  text-decoration: none;
  color: #2e2e2e;
}

ul{
  list-style-type: none;
  margin: 8px;
  padding: 8px;
}

.footer{
  display: flex;
  padding: 4px;
  background-color: #eeeeee;
}

