/* body{
  padding: 0px;
  margin: 0px;
} */

.header  {
  font-family: monospace;
  background: papayawhip;
  /* solution */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px; 
}
/* solution */
.left-links ul{
  display: flex;
}
/* solution */
.right-links ul{
  display: flex;
}

.logo {
  font-size: 32px;
  font-weight: bolder;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /* solution */
  align-self: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
/* solution */
  padding-left: 0px;

}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
/* solution */
 margin: 0px 7px;
  
}



